<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | My Event Application</title>
  </head>
  <body>
    <div class="center jumbotron image">
        <h1>Welcome to the My Friend</h1>
        <h2>This is the home page for the My Friend application</h2>
        <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>
